<section class="vue-projects-container">
  <a routerLink="">Go To Home</a>

  <section class="vue-projects">
    <div class="project-01-financialSystem">
      <div class="header-vue-container">
        <img class="header-vue-icon" src="../../../assets/icons/vuejs.svg" alt="Vuejs Icon">
      </div>

      <div class="container-description-project-01">
        <h3>vue Project 01</h3>
        <span>Financial System Control</span>
        <p>
          vue Application Financial Control System, For Personal Financial Records.
        </p>

        <div class="social-media">
          <section class="github-section section-icons">
            <small>My Github</small>
            <a href="https://github.com/fernandooliveiralima/FinancialSystemControlVue" target="_blank">
              <img src="../../../assets/icons/github.svg" alt="Github Icon" class="social-icon">
            </a>

          </section>

          <section class="linkedin-section section-icons">
            <small>My linkedin</small>
            <a href="https://www.linkedin.com/in/fernando-oliveira-543461131/" target="_blank">
              <img src="../../../assets/icons/linkedin.svg" alt="Github Icon" class="social-icon">
            </a>
          </section>

          <section class="portfolio-section section-icons">
            <small>Web Aplication</small>
            <a href="https://financial-system-control-vue.netlify.app/" target="_blank">
              <img src="../../../assets/icons/globe-solid.svg" alt="Github Icon" class="social-icon">
            </a>
          </section>

        </div>
      </div>
    </div>

  </section>

</section>
